ul {
  padding: 0 !important;
}

.videos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  list-style: none;
  padding: 0;
  overflow: hidden !important;
}

.videos li {
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
}

.videos li img {
  margin-bottom: 8px;
}

.videos li:hover span {
  color: red;
}

.video-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
